<h1 class="text-center mt-4">Article Listings</h1>

<div class="container">
  <%= render 'layouts/pagination_articles' %>
  <%= render 'article' %>
  <%= render 'layouts/pagination_articles' %>
</div>

