@import "~bootstrap/scss/bootstrap";

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbo-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  z-index:1;
}

.jumbo-bg::before{
  content:'';
  position:absolute;
  background: linear-gradient(0deg, #00000038 30%, #ffffff44 100%);
  width:100%;
  height:100%;
  z-index:-1;
  left: 0;
  top: 0;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: 0;
}